@font-face{
    font-family: fortnite;
    src: url("LuckiestGuy.ttf") format('ttf');
}


html {
	height: 100%;
}

body {
	
	background-image: url("../img/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}

a:hover {
	text-decoration: none;
}

p {
	font-size: 17px;
}


.title {
	
	font-weight: 600;
}

.cont-wrap {

	background-color: #fff;
	margin-top: 5%;
	margin-bottom: 5%;
	position: relative;
	border-radius: 5px;
}

.logo {
	height: 50px;
	margin-top: 20px;
}

.cards-article {
	padding-left: 0px;
	margin-bottom: 0px;
}

.cards-article li {
	display: inline-block;
	list-style-type: none;
}

.cards-article li img {
	max-height: 300px;
}

.layout {
	
}


.button-wrapp p {
	font-weight: 600;
}


.button-wrapp a {
	display: inline-block;
	padding: 10px 20px 10px 20px;
	border:2px solid;
	border-radius: 5px;
	font-family: fortnite;
	color: #fff;
	background-image: linear-gradient(to bottom, #0CB00D 0%, #007101 100%);
}

.powerd-img {
	height: 20px;
}






.fortnite-wrap {
	float:none;
	max-width: 620px;
	border-radius: 5px;
	margin-top: 3%;
	padding-right: 0px;
	padding-left: 0px;
	overflow: auto;
	border: 10px #707061 solid;
}

.title-wrap {
	background-image: radial-gradient(ellipse farthest-corner at center, #383838 0%, #222222 100%);
	overflow: auto;
}


.title-wrap img {
	height: 50px;
	padding-top: 10px;

}

.title-wrap h3 {
	margin-top: 5px;
	font-size: 27px;
	color: #fff;
	font-weight: 600;
	font-family: 'fortnite', cursive;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.fortnite-content {
	background-color: rgba(25, 25, 25, 0.6392156862745098);
    
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}


.wrap-wrap {
	background-color: rgba(0, 0, 0, 0.41);
	padding-bottom: 20px;
}

.input-wrap {
	float: none;
}

.input-wrap input {
	width: 100%;
	height: 40px;
	padding-left: 5px;
	font-family: 'fortnite', cursive;
	background-color: transparent;
	border: 2px solid #fff;
	outline: 0;
	margin-bottom: 5px;

}


.input-wrap select {
	width: 100%;
	height: 40px;
	padding-left: 5px;
	font-family: 'fortnite', cursive;
	background-color: transparent;
	border: 2px solid #fff;
	outline: 0;
	margin-bottom: 20px;
	font-size: 20px;
}


.input-wrap h4 {
	margin-top: 0px;
	padding-top: 35px;
	font-size: 17px;
}


.fortnite-content-layer {
	
	background-image: url("../img/content-img.png");
	background-repeat: no-repeat;
	background-position: center 3px;
	height: 100%;
}


.fortnite-content-layer2 {
	background-color: rgba(25, 25, 25, 0.7);
	height: 100%;
	overflow: auto;
	padding-bottom: 48px;

}

.verify-btn-text
 {
 	    padding: 10px 20px 10px 20px;
    background: #f0ed63;
    font-family: 'fortnite', cursive;
    letter-spacing: 1px;
    margin-top: 15px;
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
 }

.input-wrap a {
	padding: 10px 20px 10px 20px;
	background: #f0ed63;
	font-family: 'fortnite', cursive;
	letter-spacing: 1px;
	margin-top: 15px;
	color: #000;
	font-size: 22px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

.input-wrap a span {
	z-index: 10;
}

/* .input-wrap a:before {
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url("http://fortnite.hackeado.net/img/btn.png") no-repeat 100% 0;
    background-size: 100% 100%;
} */

.input-wrap  a:hover {
	text-decoration: none;
	color: #333;
}


.get-vbucks {
	padding-right: 0px;
	padding-left: 0px;
	background: rgba(0, 0, 0, 0.41);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	cursor: pointer;

}


.select-vbucks {
	padding-right: 0px;
	padding-left: 0px;
	background: rgba(0, 0, 0, 0.41);
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 40px;
	margin-bottom: 15px;
	cursor: pointer;
}

.fortnite-content-layer2 p.get-p {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0px;
	
	

}


.fortnite-content-layer2 img.free {
	height: 50px;
	padding-left: 5px;
}





.fortnite-sticky {
	height: 130px;
	overflow-y: scroll;
	width: 100%;
	overflow-x: hidden;
	background: rgba(0, 0, 0, 0.5);
	padding: 15px;
	
}
div.sticky-queue { 
	display: block;
	left: 0;
	top: 0;
	margin: 0;	
	position: relative;	
	width: 100%;
}
.sticky {
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.75);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 2px;
	padding: 0 10px 10px 10px;
	margin-bottom: 5px;
}
div.fortnite-sticky-tab	{  
	padding: 5px 0;
}
.activity-flag-img {
	max-width: 25px;
	margin-right: 10px;
}
div.sticky	{
	font-size:12px;
	color:#555;
	display:none;
	position:relative;

}
img.sticky-close {
	display: none;
}
.activity-username {
	
	color: #fff;
	font-size: 1.3em;
	position: relative;
	top: 2px;
}
.platfrom-append {
	color: #999;
}
.activity-platform {
	color: #fff;
	font-weight: 300;
}
.activity-generated-amount {
	
	font-size: 1.4em;
	line-height: 1;
}
.activity-generated-amount .activity-vbucks {
	color: #56c4c7;
	position: relative;
	display: block;
}
.activity-generated-amount .activity-tix {
	color: #cc9e71;
	position: relative;
	display: block;
	margin-top: 5px;
}
.activity-generated-amount .activity-vbucks:before {
	width: 20px;
	height: 20px;
	background: url('../img/vbucks.png') center center;
	background-size: 100%;
	background-repeat: no-repeat;
	content: '';
	position: relative;
	display: inline-block;
	margin-right: 5px;
	top: 5px;	
}
.activity-generated-amount .activity-tix:before {
	width: 22px;
	height: 22px;
	background: url('../img/tix.html') center center;
	background-size: 100%;
	background-repeat: no-repeat;
	content: '';
	position: relative;
	display: inline-block;
	margin-right: 5px;
	top: 3px;	
}



.sticky-alert {
	padding-right: 0px;
	padding-left: 0px;
}

.click {
	font-size: 14px;
	margin-bottom: 5px;
}


#fortnite-sticky::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#fortnite-sticky::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(24, 24, 24);
}

#fortnite-sticky::-webkit-scrollbar-thumb
{
	background-color: rgb(24, 24, 24);
	border: 2px solid #333;
}


.username-connected {
	padding-top: 35px;
	font-family: 'fortnite', cursive;
	padding-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.61);
	letter-spacing: 1px;
	font-size: 19px;
}


.username-connected p {
	font-size: 18px;
	margin-bottom: 5px;
}

#user-text {
	padding-left: 5px;
	color: #f0ed63;
	font-weight: 800;
	text-transform: uppercase;
}

.conn {
	color: #c272d9;
	text-transform: uppercase;
	font-weight: 600;
}


.select-vbucks ul {
	padding-left: 0px;
	margin-bottom: 0px;
}

.select-vbucks ul li img{
	    height: 252px;
margin-bottom: 3px;
	padding-right: 0px;
	
}

.select-vbucks ul li p {
	margin-bottom: 10px;
	font-family: 'fortnite', cursive;
	color: #c272d9;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 22px;
}

 ul> li >a>img {
	opacity: 0.4;
}

 ul> li.active >a>img {
	opacity: 1!important;
}

.select-vbucks ul li {
	display: inline-block;
	list-style-type: none;

}

.select-vbucks-wrap {
	float: none;
	padding: 0px;
}


.select-vbucks select {
	height: 35px;
	width: 76%;
	margin-bottom: 10px;

}




select.vbucks-value {
	color: #02b757;
	border-radius: 4px;
	border:1px solid #02b757;
	background-color: transparent;
	font-size: 18px;
	outline: 0;
}

select.tix-value {
	color: #cc9e71;
	border-radius: 4px;
	border:1px solid #cc9e71;
	background-color: transparent;
	font-size: 18px;
	outline: 0;
	margin-bottom: 20px;
}


select> option {
	background-color: #333;

	
}


a.generate {
	padding: 10px 20px 10px 20px;
	background: #f0ed63;
	font-family: 'fortnite', cursive;
	letter-spacing: 1px;
	margin-top: 15px;
	color: #000;
	font-size: 22px;
	text-transform: uppercase;
}

a.generate:hover {
	text-decoration: none;

}


.fortnite-progress-wrap {
	padding-right: 0px;
	padding-left: 0px;
	background: rgba(0, 0, 0, 0.41);
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 40px;
	margin-bottom: 40px;

}



.progress-bar-striped, .progress-striped .progress-bar {
    /* background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); */
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,#4CAF50 25%,#4CAF50 25%,transparent 50%,#4CAF50 50%,rgba(139, 195, 74, 0) 75%,#4CAF50 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}


.progress {
	margin-bottom: 10px;
}


.progress-bar {
  
    background-color: #673AB7;

}


.progress-title {
	font-family: fortnite;
	font-size: 18px;
}    


.verification-wrap {
	padding-right: 0px;
	padding-left: 0px;
	background: rgba(0, 0, 0, 0.41);
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 40px;
	margin-bottom: 40px;

}


.verification {
	float: none;
}


.verification h4 {
	font-family: fortnite;
}




a.verify {
	padding: 7px 10px 7px 10px;
    background-image: linear-gradient(to bottom, #0D6EF6 0%, #0853b7 100%);
    border-color: #0853b7;
    border-radius: 4px;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
}

a.verify:hover {
	text-decoration: none;

}


#acc-connect-err {
	background-color: #333;
	color: #fff;

}


.mfp-close {
	color: #fff;
}


#user-text2 {
	padding-right: 5px;
	padding-left: 5px;
	color: #e2d61a;
}



@media screen and (max-width: 414px) {
    .select-vbucks ul li img{
    	height: 275px;
    }
}


@media screen and (max-width: 360px) {
    .select-vbucks ul li img{
    	height: 247px;
    }
}

