@font-face {
    font-family: "hack";
    src: url("./Hack-Regular.ttf");
}
body {
	background: black;
	color: lime;
	margin: 0;
    padding: 0;
    font-family: 'hack';
    font-size: 75%;
}

.wrap {
    padding: 8px;
    padding-right: 8px;
    word-wrap: break-word;
    overflow: scroll;
}