@font-face {
    font-family: hack;
    src: url(Hack-Regular.ttf) format('ttf')}
body {
	background: black;
	color: lime;
	margin: 0;
	padding: 0;
}

.wrap {
    padding: 8px;
    padding-right: 8px;
    word-wrap: break-word;
    overflow: scroll;
}